.cauhoi{
    font-weight: bold;
    span{
        font-weight: bold;
    }
}
.btnChiTiet{
    top: -10px;
}
.formChiTietBN{
    background: white;
    box-shadow: 1px 1px 1px 1px #ffffff;
}
.modal_CauHoiBN{
    top: 5px;
}
.txt_label{
    top: -10px;
    left: 20px;
}
.input_cauhoi{
    left: 1px;
}
.ant-select-selection-search-input{
    width: 50px;
}
.input_convet_lable{
    border: none;
    //background: none;
    background: none;
    color: none;
    outline: none;
}